        <!-- OSF Footer
        ======================================== -->
        <footer class="osf-footer">
            <div class="container">

                <!-- Copyright -->
                <div class="copyright">OSF Global Services 2021 All right reserved &copy;</div>

            </div>
        </footer>
        <!-- OSF Footer / End -->

	</div>
    <!-- Wrapper / End -->
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/bundle.js"></script>

</body>
</html>