<%- include('./partials/header', {
    menuItems
})  %>

<!-- OSF Content
======================================== -->
<div class="osf-content">
    <div class="container">
        <div class="row">

            <div class="content-title">
                <h1>Categories Overview</h1>
            </div>

            <!-- OSF Main -->
            <main class="osf-main col-md-12">

                <% if (subcategories.length > 0) { %>

                    <%# Loop the categories %>
                    <% subcategories.forEach(subcategory => { %>
                        <%- include('./single/content_subcategory.ejs', {subcategory})  %> 
                    <% }) %>
            
                <% } else { %>
                    
                    <%# Include No Content %>
                    <%- include('./parts/content_none.ejs', {
                        error: 'There is no such category'
                    });  %>   
            
                <% } %>

            </main>
            <!-- OSF Main / End -->

        </div>
    </div>
</div>
<!-- OSF Content / End -->

<%- include('./partials/footer')  %>